body {
	background-color: #ad7753;
	display: flex;
	justify-content: center;
}

.header {
	position: sticky;
	top: 0;
	background: #f5ebbe;
	z-index: 3;
	width: 100%;
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: center;
	gap: 50px;
}
a {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #a71829;
	text-align: justify-content;
	text-decoration: none;
}

h1 {
	color: darkred;
	font-size: 60px;
	margin-bottom: -10px;
}


div {
	background-color: #ad7753;
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-indent: px;
	text-align: justify;
	word-spacing: -2px;
	font-weight: thin;
	padding: 20px;
}

.container {
	width: 95%;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	margin: 20px;
	justify-content: center;
	border: solid 2px;
	box-shadow:
    0 12px 24px rgba(0, 0, 0, 0.15),
    inset 0 -8px 5px rgba(0, 0, 0, 0.08);
}

#targetInput {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 35px;
	width: 75%;
	height: 50px;
	color: #4f322d;
	background-color: #f5ebbe;
	margin-top: 25px;
	margin-bottom: 15px;
}

.grid {
 	display: grid;
 	grid-template-rows: repeat(7, 1fr);
 	grid-template-columns: repeat(5, 1fr);
 	padding: 10px;
 	max-width: 1400px;
 	text-align: center;
}

.grid div {
 	background-color: #7c4f2d;
 	box-shadow: inset -1px -3px 5px 5px #4f322d;
 	border: 1px solid black;
 	padding: 10px;
 	font-size: 30px;
 	text-align: center;
 	
}

#textbox {
    width: 300px;
    height: 50px;
    border: 2px solid #333;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    overflow-x: auto;
  }












